{% extends 'layout/layout.html' %}


{% block content %}
	<br>
    <br>
    <div class="w-75 p-5" style="margin: 0 auto;">
        <div class="card">
            <div class="card-head" style="background-color: #7b211f;">
                <h5 class="card-title text-center p-3 text-white">Registre su información</h5>
            </div>
            <div class="card-body">
                <div>
                    <form id="form-datos">
                    <div class="row row-cols-3">
                        <div class="col mb-2 mt-2">
                            <input type="text" class="form-control" id="nombre" name="nombre">
                            <span class="form-text">Empresa</span>
                        </div>
                        <div class="col mb-2 mt-2">
                            <input type="text" class="form-control" id="telefono" name="telefono">
                            <span class="form-text">Telefono</span>
                        </div>
                        <div class="col mb-2 mt-2">
                            <input type="text" class="form-control" id="rfc" name="rfc">
                            <span class="form-text">RFC</span>
                        </div>
                        <div class="col mb-2 mt-2">
                            
                            <input type="text" class="form-control" id="postal" name="postal">
                            <span class="form-text">Codigo Postal</span>
                        </div>
                        <div class="col mb-2 mt-2">
                            
                            <input type="text" class="form-control" id="pais" name="pais">
                            <span class="form-text" >País</span>
                        </div>
                        <div class="col mb-2 mt-2">
                            
                            <input type="text" class="form-control" id="estado" name="estado">
                            <span class="form-text">Estado</span>
                        </div>
                        
                    </div>

                    <div class="row row-cols-2">
                        <div class="col mb-2 mt-3">
                            <span class="form-text">Tipo de Persona</span>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm" id="tipo_persona">
                                <option selected>Seleccione el tipo de persona</option>
                                <option value="M">Moral</option>
                                <option value="F">Fisica</option>
                              </select>
                        </div>
                        <div class="col mb-2 mt-3">
                            <span class="form-text">Regimen Fiscal</span>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm" id="regimen">
                                <option selected>Seleccione el regimen fiscal</option>
                                <option value="601">General de Ley Personas Morales</option>
                                <option value="603">Personas Morales con Fines no Lucrativos </option>
                                <option value="605">Sueldos y Salarios e Ingresos Asimilados a Salarios</option>
                                <option value="606">Arrendamiento</option>
                                <option value="607">Régimen de Enajenación o Adquisición de Bienes</option>
                                <option value="608">Demás ingresos</option>
                                <option value="610">Residentes en el Extranjero sin Establecimiento Permanente en México</option>
                                <option value="611">Ingresos por Dividendos (socios y accionistas)</option>
                                <option value="612">Personas Físicas con Actividades Empresariales y Profesionales</option>
                                <option value="614">Ingresos por intereses</option>
                              </select>
                            
                        </div>
                    </div>
                    <div class="mt-5">
                        <button id="boton-data" type="button" class="btn btn-register w-50">Guardar Datos</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block script %}

        {% load static %}
        <script src="{% static 'js/profile.js' %}"></script>

    {% endblock %}

{% endblock %}