{% extends 'layout/layout.html' %}

{% block content %}
    <div class="contenedor-perfil">
        <div class="card imagen-perfil">
            <img src="" alt="perfil">
        </div>
        <div class="card d-flex justify-content-center align-items-center shadow">
            <div class="row w-50 p-1">
                <form>
                    <div class="row mb-4">
                        <span class="col-sm-2 col-form-label">Nombre</span>
                        <input type="text" class="form-control">
                        
                    </div>
                    <div class="mb-4">
                        <label for="" class="form-label"></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="" class="form-label"></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-4">
                        <label for="" class="form-label"></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-4">
                        <input type="submit" class="btn btn-register" value="Guardar Datos">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}