{% extends 'layout/layout.html' %} {% block content %}

<br />
<br />

<div class="row justify-content-center">
  <div class="w-50">
    <div class="d-flex justify-content-end gap-2">
      <button id="id_send" class="btn btn-primary btn-sm" value="{{ id }}"> 
        <i class="fa fa-share" aria-hidden="true"></i>

        Compartir 
      </button>
      <a
        href="{% url 'validate:generate-pdf' id %}"
        class="btn btn-primary btn-sm"
        >
        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
        Generar PDF
        
        </a
      >
    </div>
    <br />
    
    <div class="card .bg-light">
      <div class="card-head bg-secondary text-white">
        <h5 class="text-center p-2">Informacion del Comprobante</h5>
      </div>
      <div class="card-body">
        <table class="table table-primary border border-light">
          <tbody>
            <tr>
              <td>Resultado: {{ Resultado }}</td>
              <td>Version: {{ Version }}</td>
            </tr>

            <tr>
              <td>RFC Receptor: {{ Receptor }}</td>
              <td>Metodo Pago: {{ Metodo_pago }}</td>
            </tr>
            <tr>
              <td>RFC Emisor: {{ Emisor }}</td>
              <td>Fecha: {{ Fecha}}</td>
            </tr>
            <tr>
              <td>Fecha Validacion: {{ Fecha_validacion }}</td>
              <td>
                Lugar Expedicion: {{ Lugar_ex }}
              </td>
            </tr>
            <tr>
              <td>Tipo de Comprobante: {{ Tipo }}</td>
              <td>Total: {{ Total }}</td>
            </tr>
          </tbody>
        </table>

        <ul class="list-group list-group-flush ">
          <li class="list-group-item">
            Estructura: {{ Estructura }}
          </li>
          <li class="list-group-item">Sello: {{ Sello }}</li>
          <li class="list-group-item">
            Sello SAT: {{ Sello_sat  }}
          </li>
          <li class="list-group-item">
            Incidencia: {{ Error_msj }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}

	{% load static %}
	<script 
	src="{% static 'js/email.js' %}"></script>


{% endblock %}