{% extends 'layout/layout.html' %} {% block content %}

<br />
<br />

<div class="row justify-content-center">
  <div class="w-50">
    <div>
      <a href="#" class="btn btn-primary"> Compartir </a>
      <a
        href="{% url 'validate:generate-pdf' validate_invoice.id %}"
        class="btn btn-primary"
        >Generar PDF</a
      >
    </div>
    <br />
    <div class="card .bg-light">
      <div class="card-head bg-secondary text-white">
        <h5 class="text-center p-2">Informacion del Comprobante</h5>
      </div>
      <div class="card-body">
        <table class="table table-primary border border-light">
          <tbody>
            <tr>
              <td>Resultado: {{ validate_invoice.results }}</td>
              <td>Version: {{ validate_invoice.version }}</td>
            </tr>

            <tr>
              <td>RFC Receptor: {{ validate_invoice.rfc_receiver }}</td>
              <td>Metodo Pago: {{ validate_invoice.metodo_pago }}</td>
            </tr>
            <tr>
              <td>RFC Emisor: {{ validate_invoice.rfc_rfc_business }}</td>
              <td>Fecha: {{ validate_invoice.date }}</td>
            </tr>
            <tr>
              <td>Fecha Validacion: {{ validate_invoice.validate_date }}</td>
              <td>
                Lugar Expedicion: {{ validate_invoice.place_of_expedition }}
              </td>
            </tr>
            <tr>
              <td>Tipo de Comprobante: {{ validate_invoice.voucher_type }}</td>
              <td>Total: {{ validate_invoice.total }}</td>
            </tr>
          </tbody>
        </table>

        <ul class="list-group list-group-flush ">
          <li class="list-group-item">
            Estructura: {{ validate_invoice.estruc }}
          </li>
          <li class="list-group-item">Sello: {{ validate_invoice.stamp }}</li>
          <li class="list-group-item">
            Sello SAT: {{ validate_invoice.stamp_sat }}
          </li>
          <li class="list-group-item">
            Error: {{ validate_invoice.error_ws }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
