{% extends 'layout/layout.html' %}


{% block content %}
<div class="contenido-formulario">
	<form id="validate_formulario" action="">
		<label for="formFile" class="form-label">Seleccione el xml a validar</label>
		<input class="form-control" type="file" id="file">
		<br>
		<div class="col-auto">
			<input id="form_button" type="button"  class="btn btn-primary mb-3" value="Enviar"/>
		</div>
	</form>

<br>



<div class="card">
	<div class="card-header bg-secondary text-white">
		<h5 class="card-title text-center">Resultado</h5>
	</div>

	<div class="card-body">
	<table class="table">
		<tbody>
			<tr class="table-light">
				<th> Estructura </th>
				<td id="td_estruc">Esperando resultado</td>
			</tr>
			<tr class="table-light">
				<th> Sello </th>
				<td id="td_sello">Esperando resultado</td>
			</tr>
			<tr class="table-light">
				<th> Sello SAT </th>
				<td id="td_sesat">Esperando resultado</td>
			</tr>
			<tr class="table-danger">
				<th> Error </th>
				<td id="td_error">Esperando resultado</td>
			</tr>
		</tbody>
	</table>
	</div>
</div>

</div>

{% endblock %}

{% block script %}

	{% load static %}
	<script 
	src="{% static 'js/app.js' %}"></script>


{% endblock %}