<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reporte</title>

    <style>
        @page {
            size: letter landscape;
         margin: 2cm;
        }
        
        h1 {
            font-size: 2rem;
            text-align: center;
            font-weight: bold;
        }

        .contenedor {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }

        .title {
            background-color: #7b211f;
        }
    </style>
</head>
<body>
    
    <h1> {{ title }} </h1>
    <div class="contenedor">
        <table>
            <tr>
                <th class="title">Información del Comprobante</th>
            </tr>
            <tbody>
                <tr>
                    <td>Resultado: Comprobante Valido</td>
                    <td>Version: 4.0</td>
                  </tr>
      
                  <tr>
                    <td>RFC Receptor: XIQB891116QE4</td>
                    <td>Metodo Pago: PUE</td>
                  </tr>
                  <tr>
                    <td>RFC Emisor:  XIQB891116QE4</td>
                    <td>Fecha Comprobante: 2022-10-18T09:15:24</td>
                  </tr>
                  <tr>
                    <td>Fecha Validacion: Nov. 26, 2022, 1:58 p.m.</td>
                    <td>
                      Lugar Expedicion: 57424
                    </td>
                  </tr>
                  <tr>
                    <td>Tipo de Comprobante: Ingreso</td>
                    <td>Total: 100.00</td>
                  </tr>
            </tbody>
        </table>
        <br>
        <table>
            <tr>
                <th>Resultado de Validacion</th>
            </tr>
            <tr>
                <td>Estructura: Estructura Valida</td>
            </tr>
            <tr>
                <td>Sello: Correcto</td>
            </tr>
            <tr>
                <td>Sello SAT: Encontrado</td>
            </tr>
            <tr>
                <td>Incidencia: CFDI40205 El valor del campo TotalImpuestosTrasladados no es igual a la suma de los importes registrados en el elemento hijo Traslado.</td>
            </tr>
        </table>
    </div>
</body>
</html>