{% extends 'django_registration/base.html' %}


{% block title %}
    Iniciar Sesión
{% endblock %}


{% block content-form %}
{% load static %}
<!-- <nav class="navbar navbar-light" style="background-color: #7b211f;">
  <div class="container-fluid container">
      <img src="{% static 'img/logoQuadrum.png' %}"/>
      
  </div>
</nav> -->

  <div class="center">
    <div class="row border shadow">
      <div class="col card" style="width: 20rem">
        <div class="card-body d-flex justify-content-center align-items-center">
          <img src="{% static 'img/img-quadrum.jpeg' %}" class="img-fluid" alt="logo" />
        </div>
      </div>
      <div class="col card" style="width: 20rem">
        <div class="card-head">
          <br />
          <h4 class="text-center" style="color: #7b211f">Iniciar Sesión</h4>
        </div>
        <div class="card-body">
          <form method="POST">
            {% csrf_token %}
            
            <div class="row">
              <div class="mb-3">
                <label for="username" class="form-label">Username </label>
                {{ form.username }}
              </div>

              <div class="mb-2">
                <label for="password" class="form-label">Password </label>
                {{ form.password }}
              </div>
              <div class="mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="mostrar_password"
                />
                <span class="form-text"> mostrar contraseña </span>
              </div> 
              <div class="mb-2">
                <a class="form-text enlace" href="/accounts/password_reset/">¿Olvidé mi contraseña?</a>
              </div>
              <div class="mb-3">
                
                <a class="form-text enlace" href="/register/">Crear una cuenta</a>
              </div>

              <div>
                <input
                  type="submit"
                  class="btn btn-register"
                  value="Iniciar Sesión"
                />
              </div>
           
          </form>
        </div>
      </div>
    </div>


  </div>
    <script>
      $(document).ready(function () {
        console.log('cargando')
        $("#mostrar_password").on("click",function () {
            var checked = $("input:checked").val();
            if (checked == 'on'){
                $("#id_password").attr("type", "text");
                console.log('entro')
            }else {
                $("#id_password").attr("type", "password");
                console.log('no entro')
            }
          
        });

        $("#id_username").addClass("form-control");

        $("#id_password").addClass("form-control");
      });
    </script>

{% endblock %}