{% extends 'django_registration/base.html' %}


{% block title %}
    Restablecer Contraseña
{% endblock %}


{% block content-form %}
    <div class="container">
        <div class="row" style="min-height: 100vh;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card w-75 rounded">
                <div class="card-head p-2" style="background-color: #7b211f;">
                    <h5 class="card-title p-2 fw-normal text-light">Complete los campos para restablecer su contraseña.</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="/accounts/password_reset/">
                        {% csrf_token %}
                        <div class="row mb-3">
                            <div class="col">
                                {{ form.username }}
                                <span class="form-text">Nombre de usuario</span>
                            </div>
                            <div class="col">
                                {{ form.email }}
                                <span class="form-text">Correo electronico</span>
                            </div>
                        </div>
                        <div class="mt-2 mb-3">
                            <button class="btn btn-primary w-25" type="submit">
                                <i class="fa fa-envelope" aria-hidden="true" style="margin-right: 7px;"></i>
                                Enviar enlace
                            </button>
                        </div>
                    </form>
                    <div class="mt-2">
                        <a href="/" class="btn btn-secondary">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                            Regresar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}