{% extends 'django_registration/base.html' %}


{% block title %}
    Restablecimiento de contraseña.
{% endblock %}


{% block content-form %}
    <div class="container">
        <div class="row" style="min-height: 100vh;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card w-75 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-head p-2 rounded" style="background-color: #7b211f;">
                    <h5 class="card-title p-2 fw-normal text-light">Restablecimiento de contraseña enviado.</h5>
                </div>
                <div class="card-body">
                    <p style="text-align: justify;">
                        Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.
                        Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script type="text/javascript">
        const email = document.getElementById('id_email');

        email.classList.add('form-control')
    </script>

{% endblock %}