{% extends 'django_registration/base.html' %}


{% block title %}
    Restablecer Contraseña
{% endblock %}


{% block content-form %}
    <div class="container">
        <div class="row" style="min-height: 100vh;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card w-50 rounded">
                <div class="card-head p-2" style="background-color: #7b211f;">
                    <h5 class="card-title p-2 fw-normal text-light">Escriba su nueva contraseña.</h5>
                </div>
                <div class="card-body">
                    <form method="POST" action="/accounts/password_reset/">
                        {% csrf_token %}
                        <div class="row">
                            <div class="mb-3">
                                {{ form.password }}
                            </div>
                            <div class="mb-3">
                                {{ form.confirmPassword }}
                            </div>
                        </div>
                        <div class="mt-2 mb-3">
                            <button class="btn btn-primary w-25" type="submit">
                                <i class="fa fa-envelope" aria-hidden="true" style="margin-right: 7px;"></i>
                                Guardar
                            </button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}