{% extends 'django_registration/base.html' %}


{% block title %}
    Restablecimiento de contraseña.
{% endblock %}


{% block content-form %}

    <div class="container">
        <div class="row" style="min-height: 100vh;">
        <div class="d-flex justify-content-center align-items-center">
            <div class="card w-75 shadow-lg p-3 mb-5 bg-body rounded">
                <div class="card-head p-2 rounded" style="background-color: #7b211f;">
                    <h5 class="card-title p-2 fw-normal text-light">Reinicialización de contraseña completada.</h5>
                </div>
                <div class="card-body">
                    <p style="text-align: justify;">
                        Se le ha enviado su contraseña. Ahora puede continuar e ingresar.
                    </p>
                    <div class="mt-2">
                        <a href="/accounts/login/" class="btn btn-primary" > Iniciar Sesión </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    

{% endblock %}