{% extends 'django_registration/base.html' %}


{% block title %}
    Registrarse
{% endblock %}

{% block content-form %}
{% load static %}
<div class="center">
    {% if form.errors %}
    <div>       
        <div class="alert alert-dark"" role="alert">
        {{ form.errors }}
        </div>
    </div>      
    {% endif %}
    <div class="row border shadow">
            <div class="col card" style="width: 20rem;">
            <div class="card-body d-flex justify-content-center align-items-center">
                <img src="{% static 'img/img-quadrum.jpeg' %}" class="img-fluid" alt="logo" />
            </div>
        </div>
        <div class="col card" style="width: 20rem;">
           <div class="card-head">
                <br>
                <h5 class="text-center" style="color: #7b211f;">Formulario de Registro</h5>
           </div>
            <div class="card-body">
                <form  method="POST">
                    <div class="row">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_username">Usuario: </label>
                            {{ form.username }}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_email">Correo: </label>
                            {{ form.email }}
                        </div>
                        <div class="mb-3">
                            <label for="id_password1">Contraseña: </label>
                            {{ form.password1 }}
                        </div>
                        <div class="mb-3">
                            <label for="id_password2">Confirmar Contraseña: </label>
                            {{ form.password2 }}
                        </div>
                        <div class="mb-3">
                            <input class="btn btn-register" type="submit" value="Registrarse" />
                        </div>
                    </div>
                </form>
            </div>
          </div>
    </div>

    
</div>

<script>
    $(document).ready(function (){
        $("#id_username").addClass("form-control");

        $("#id_email").addClass("form-control");

        $("#id_password1").addClass("form-control");

        $("#id_password2").addClass("form-control");
    });
</script>

{% endblock %}
