{% extends 'django_registration/base.html' %}


{% block title %}
    Completar Registro
{% endblock %}

{% block content-form %}
{% load static %}

    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-head">
                    <h5>En hora buena! Nos hemos puesto en contacto.</h5>
                </div>
                <div class="card-body">
                    <p>Para continuar con el registro, es necesario que verifique su bandeja de entrada. </p>
                    
                </div>
            </div>
        </div>
    </div>

{% endblock %}
