<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Cargando estilos a la vista -->
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'font-awesome/css/font-awesome.min.css'%}"
    />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <title>Validate</title>
  </head>
  <body>
    <!-- Header para el menu y icono de sesion -->
    <header class="header">
      <div class="header-item">
          <span id="menu" class="header_boton_menu">
            <i class="fa fa-align-justify" aria-hidden="true"></i>
          </span>
      </div>
      <div class="header-item">
        <button class="btn btn-outline-primary">
          <i class="fa fa-user-o" aria-hidden="true"></i>
          <span>example@gmail.com</span>
        </button>
      </div>
    </header>

    <!--Menu de navegacion -->
    <div id="sidebar" class="sidebar-navegacion">
      <div class="cerrar-menu">
        <span>
            <i id="cerrar" class="fa fa-angle-left" aria-hidden="true"></i>
        </span>
      </div>
      <div class="logo-imagen">
        <img src="{% static 'img/perfil.png' %}" alt="logo">
        <p>example@gmail.com</p>
        <h5>Finkok</h5>
      </div>
      <nav class="menu-navegacion">
        <a class="enlace_navegacion" href="{% url 'validate:index' %}">Validador CFDI</a>

        <a class="enlace_navegacion" href="#">Activo</a>

        <a class="enlace_navegacion" href="{% url 'validate:result' %}">Historial Validacion</a>

        <a class="enlace_navegacion" href="#">Activo</a>
      </nav>
    </div>

    <!--- Contenedor -->
    <div class="container">
        {% block content %}


        {% endblock %}
    </div>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/result.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    
    
    
    
  </body>
</html>
